# ANDEVA O ANOVA(An√°lisis de Varianza) de un factor con varios niveles

Es funcional para evaluar las diferencias entre tratamientos.

<h2>Cuando Aplicarla</h2><br>
<p>Cuando los grupos se distribuyen normalmente y tienen varianzas iguales. De lo contrario es mejor aplicar la ANOVA DE Welch que controla mejor el error tipo 1.</p>

## Importaciones

In [2]:
import pandas as pd
import numpy as np
import pingouin as pg
import scipy.stats as stats

In [5]:


datosExperimento = pd.DataFrame({
    "Sujetos":[1,2,3,4,5,6,7,8,9,10,11,12],
    "Grupos":["T1","T1","T1","T2","T2","T2","T3","T3","T3","T4","T4","T4"],
    "Valor":[80,78,82,71,77,np.nan,71,73,72,88,86,np.nan]
})
display(datosExperimento)

    Sujetos Grupos  Valor
0         1     T1   80.0
1         2     T1   78.0
2         3     T1   82.0
3         4     T2   71.0
4         5     T2   77.0
5         6     T2    NaN
6         7     T3   71.0
7         8     T3   73.0
8         9     T3   72.0
9        10     T4   88.0
10       11     T4   86.0
11       12     T4    NaN

## Prueba de Normalidad.

In [3]:
pg.normality(datosExperimento['Valor'],method='normaltest')

c:\ProyectosPython\cienciadedatos\.venv\Lib\site-packages\scipy\stats\_axis_nan_policy.py:418: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=10 observations were given.
  return hypotest_fun_in(*args, **kwds)

              W      pval  normal
Valor  1.210618  0.545906    True

## Prueba de normalidad por grupos

In [4]:
normality = pg.normality(data=datosExperimento, dv='Valor', group='Grupos')
print(normality)

         W  pval  normal
Grupos
T1     NaN   NaN   False
T2     NaN   NaN   False
T3     NaN   NaN   False
T4     NaN   NaN   False

c:\ProyectosPython\cienciadedatos\.venv\Lib\site-packages\pingouin\distribution.py:242: UserWarning: Group T1 has less than 4 valid samples. Returning NaN.
  warnings.warn(f"Group {idx} has less than 4 valid samples. Returning NaN.")
c:\ProyectosPython\cienciadedatos\.venv\Lib\site-packages\pingouin\distribution.py:242: UserWarning: Group T2 has less than 4 valid samples. Returning NaN.
  warnings.warn(f"Group {idx} has less than 4 valid samples. Returning NaN.")
c:\ProyectosPython\cienciadedatos\.venv\Lib\site-packages\pingouin\distribution.py:242: UserWarning: Group T3 has less than 4 valid samples. Returning NaN.
  warnings.warn(f"Group {idx} has less than 4 valid samples. Returning NaN.")
c:\ProyectosPython\cienciadedatos\.venv\Lib\site-packages\pingouin\distribution.py:242: UserWarning: Group T4 has less than 4 valid samples. Returning NaN.
  warnings.warn(f"Group {idx} has less than 4 valid samples. Returning NaN.")

## Prueba de Homogenidad de Varianzas

Existe homocedasticidad cuando la varianza de el error condicional a las variables explicativas es constante a lo largo de las observaciones.

In [5]:
pg.homoscedasticity(datosExperimento, dv="Valor", group="Grupos")

         W  pval  equal_var
levene NaN   NaN      False

<h2>Aplicando el test de Barlett para verificar la homocedasticidad</h2>
Recomendado cuando :
<ol>
<li> Los datos provienen de una distribuci√≥n normal </li>
</ol>

In [25]:
grupo1=datosExperimento[datosExperimento["Grupos"]=="T1"].values[:,2]
grupo2=datosExperimento[datosExperimento["Grupos"]=="T2"].values[:,2]
grupo3=datosExperimento[datosExperimento["Grupos"]=="T3"].values[:,2]

print(grupo2)
stat, p = stats.bartlett(grupo1,grupo3) #Grupo tiene valores nan. Lo que afecta la prueba.
print(stat)
print(p) #Si el valor de p es menor 0.05 la poblaci√≥n no tiene igual varianza.
if p<0.05:
    print("Si el valor de p es menor 0.05 la poblaci√≥n no tiene igual varianza")

[71.0 77.0 nan]
0.7140593642054714
0.39809948626519287

## Aplicaci√≥n de la ANOVA

In [40]:
aov =pg.anova(dv='Valor',between='Grupos',data=datosExperimento,detailed=True)
print("SS: Suma de cuadrados")
print("DF:Grados de libertad")
print("MS: Cuadrados medios")
print("F: Valores F. Representa el ratio de varianza entre los grupos.")
print("p-unc: valores p sin corregir.Valor de significancia.Generalmente se compara con 0.05")
print("Np2: Tama√±os del efecto eta-cuadrado parcial. Indica cual de los grupos afecta el total de la varianza en las pruebas.")
print("Error: (Within)")

aov.round(3)

SS: Suma de cuadrados
DF:Grados de libertad
MS: Cuadrados medios
F: Valores F
p-unc: valores p sin corregir
Np2: Tama√±os del efecto eta-cuadrado parcial

   Source     SS  DF       MS       F  p-unc    np2
0  Grupos  313.6   3  104.533  20.907  0.001  0.913
1  Within   30.0   6    5.000     NaN    NaN    NaN

<p style="text-align:left">Se rechaza la hip√≥tesis nula(H<sub>0</sub>)</p>

In [1]:
pg.homoscedasticity(datosExperimento,dv='Valor',group='Grupos', method="levene")

NameError: name 'pg' is not defined