## Control de Asistencia

In [4]:
import pandas as pd
import re

matriculados= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Martes\\Matriculados.xlsx") 
matriculados['NombreSinEspacios']=(matriculados['Nombre'].str.replace(" ",""))
display(matriculados)

,No.,Código,Nombre,NombreSinEspacios
0,1,2019217057,MIRLIS MILEISIS ACUÑA RAMOS,MIRLISMILEISISACUÑARAMOS
1,2,2022217003,ANDERSON ALI AGUILAR CORRALES,ANDERSONALIAGUILARCORRALES
2,3,2018217037,SELENE ROSA AMADO PEREZ,SELENEROSAAMADOPEREZ
3,4,2021217015,OLEISY BALASNOA GOMEZ,OLEISYBALASNOAGOMEZ
4,5,2022217061,DIANA KARIME BELTRAN BARRIOS,DIANAKARIMEBELTRANBARRIOS
5,6,2019117087,ANDREA PAOLA BENAVIDES MARTINEZ,ANDREAPAOLABENAVIDESMARTINEZ
6,7,2022217007,SHARA LUNA BUSTAMANTE CHAVEZ,SHARALUNABUSTAMANTECHAVEZ
7,8,2023217048,CRISTIAN DAVID CARRANZA TORRES,CRISTIANDAVIDCARRANZATORRES
8,9,2022217033,JUAN SEBASTIAN CARVAJAL MORALES,JUANSEBASTIANCARVAJALMORALES
9,10,2021217034,LUIS ANDRES CASTRO MATOS,LUISANDRESCASTROMATOS
10,11,2022217013,NAHOMY CHINCHILLA TELLEZ,NAHOMYCHINCHILLATELLEZ
11,12,2021217008,MARIA LAURA DIAZ ASCANIO,MARIALAURADIAZASCANIO
12,14,2023217032,MARLYN ITURRIAGO CARRASCAL,MARLYNITURRIAGOCARRASCAL
13,15,2022217001,ELIER SAUL MENDOZA MARTINEZ,ELIERSAULMENDOZAMARTINEZ
14,17,2022217049,LUISA FERNANDA MONTANO BARRIOS,LUISAFERNANDAMONTANOBARRIOS
15,19,2021217007,LAURA VANESSA OROZCO PAZ,LAURAVANESSAOROZCOPAZ
16,20,2021217026,ANDERSON ANTONIO OSPINO BOVEA,ANDERSONANTONIOOSPINOBOVEA
17,21,2017217080,ANA MARCELA SALAZAR PEREZ,ANAMARCELASALAZARPEREZ
18,22,2023217095,FEDERICO SAMPAYO FONSECA,FEDERICOSAMPAYOFONSECA
19,23,2023217063,NATALIA SANGUINO SARMIENTO,NATALIASANGUINOSARMIENTO
20,24,2020117070,MARIANA SAUNA ZARABATA,MARIANASAUNAZARABATA
21,25,2019217002,MARIA JOSE TABORDA OCAMPO,MARIAJOSETABORDAOCAMPO
22,26,2022217025,GEORGINA ISABEL TORRIJOS RUIZ,GEORGINAISABELTORRIJOSRUIZ
23,27,2019117013,YALILE VANESSA VALENCIA RODRIGUEZ,YALILEVANESSAVALENCIARODRIGUEZ

In [5]:
fecha="08-04-2025"
asistencia= pd.read_csv("C:\\Users\\User\\Downloads\\ControlAsistencia\\Martes\\"+str(fecha)+".csv",sep="\t",encoding="UTF-16")
asistencia['Nombre1']=asistencia['Nombre completo'].str.replace(" ","")
display(asistencia)

,Nombre completo,Acción del usuario,Marca de tiempo,Nombre1
0,Daniel Gonzalez Polo,Unido,NaN,DanielGonzalezPolo
1,ELIER SAUL MENDOZA MARTINEZ,Unido,NaN,ELIERSAULMENDOZAMARTINEZ
2,ELIER SAUL MENDOZA MARTINEZ,Abandonó,NaN,ELIERSAULMENDOZAMARTINEZ
3,ELIER SAUL MENDOZA MARTINEZ,Unido,NaN,ELIERSAULMENDOZAMARTINEZ
4,GEORGINA ISABEL TORRIJOS RUIZ,Unido,NaN,GEORGINAISABELTORRIJOSRUIZ
5,OLEISY BALASNOA GOMEZ,Unido,NaN,OLEISYBALASNOAGOMEZ
6,DIANA KARIME BELTRAN BARRIOS,Unido,NaN,DIANAKARIMEBELTRANBARRIOS
7,LUISA FERNANDA MONTANO BARRIOS,Unido,NaN,LUISAFERNANDAMONTANOBARRIOS
8,ANA MARCELA SALAZAR PEREZ,Unido,NaN,ANAMARCELASALAZARPEREZ
9,ANA MARCELA SALAZAR PEREZ,Abandonó,NaN,ANAMARCELASALAZARPEREZ
10,ANA MARCELA SALAZAR PEREZ,Unido,NaN,ANAMARCELASALAZARPEREZ
11,ANA MARCELA SALAZAR PEREZ,Abandonó,NaN,ANAMARCELASALAZARPEREZ
12,ANA MARCELA SALAZAR PEREZ,Unido,NaN,ANAMARCELASALAZARPEREZ
13,ANA MARCELA SALAZAR PEREZ,Abandonó,NaN,ANAMARCELASALAZARPEREZ
14,ANA MARCELA SALAZAR PEREZ,Unido,NaN,ANAMARCELASALAZARPEREZ
15,ANA MARCELA SALAZAR PEREZ,Abandonó,NaN,ANAMARCELASALAZARPEREZ
16,ANA MARCELA SALAZAR PEREZ,Unido,NaN,ANAMARCELASALAZARPEREZ
17,MARIANA SAUNA ZARABATA,Unido,NaN,MARIANASAUNAZARABATA
18,ANDERSON ANTONIO OSPINO BOVEA,Unido,NaN,ANDERSONANTONIOOSPINOBOVEA
19,MARLYN ITURRIAGO CARRASCAL,Unido,NaN,MARLYNITURRIAGOCARRASCAL
20,LAURA VANESSA OROZCO PAZ,Unido,NaN,LAURAVANESSAOROZCOPAZ
21,ANDERSON ALI AGUILAR CORRALES,Unido,NaN,ANDERSONALIAGUILARCORRALES
22,ANDREA PAOLA BENAVIDES MARTINEZ,Unido,NaN,ANDREAPAOLABENAVIDESMARTINEZ
23,CRISTIAN DAVID CARRANZA TORRES,Unido,NaN,CRISTIANDAVIDCARRANZATORRES
24,LUIS ANDRES CASTRO MATOS,Unido,NaN,LUISANDRESCASTROMATOS
25,LUIS ANDRES CASTRO MATOS,Abandonó,NaN,LUISANDRESCASTROMATOS
26,LUIS ANDRES CASTRO MATOS,Unido,NaN,LUISANDRESCASTROMATOS
27,MIRLIS MILEISIS ACUÑA RAMOS,Unido,NaN,MIRLISMILEISISACUÑARAMOS
28,SHARA LUNA BUSTAMANTE CHAVEZ,Unido,NaN,SHARALUNABUSTAMANTECHAVEZ
29,SHARA LUNA BUSTAMANTE CHAVEZ,Abandonó,NaN,SHARALUNABUSTAMANTECHAVEZ
30,SHARA LUNA BUSTAMANTE CHAVEZ,Unido,NaN,SHARALUNABUSTAMANTECHAVEZ
31,NAHOMY CHINCHILLA TELLEZ,Unido,NaN,NAHOMYCHINCHILLATELLEZ
32,NATALIA SANGUINO SARMIENTO,Unido,NaN,NATALIASANGUINOSARMIENTO
33,YALILE VANESSA VALENCIA RODRIGUEZ,Unido,NaN,YALILEVANESSAVALENCIARODRIGUEZ
34,YALILE VANESSA VALENCIA RODRIGUEZ,Abandonó,NaN,YALILEVANESSAVALENCIARODRIGUEZ
35,YALILE VANESSA VALENCIA RODRIGUEZ,Unido,NaN,YALILEVANESSAVALENCIARODRIGUEZ
36,YALILE VANESSA VALENCIA RODRIGUEZ,Abandonó,NaN,YALILEVANESSAVALENCIARODRIGUEZ
37,YALILE VANESSA VALENCIA RODRIGUEZ,Unido,NaN,YALILEVANESSAVALENCIARODRIGUEZ
38,FEDERICO SAMPAYO FONSECA,Unido,NaN,FEDERICOSAMPAYOFONSECA
39,FEDERICO SAMPAYO FONSECA,Abandonó,NaN,FEDERICOSAMPAYOFONSECA
40,FEDERICO SAMPAYO FONSECA,Unido,NaN,FEDERICOSAMPAYOFONSECA
41,FEDERICO SAMPAYO FONSECA,Abandonó,NaN,FEDERICOSAMPAYOFONSECA
42,FEDERICO SAMPAYO FONSECA,Unido,NaN,FEDERICOSAMPAYOFONSECA
43,FEDERICO SAMPAYO FONSECA,Abandonó,NaN,FEDERICOSAMPAYOFONSECA

## Controlando asistencia

In [6]:
asistenciaNoRepetida=asistencia["Nombre1"].unique()

asistio = set()
noAsistio=[]
for nses, n in   zip(matriculados["NombreSinEspacios"],matriculados["Nombre"]):    
    if nses in asistenciaNoRepetida:
        asistio.add(n) 
    else:
        noAsistio.append(n)   
    

print("\n Asistió.........\n")
for e in asistio:
    print(e)

print("\n------------No Asisitió-------------- ")
for na in noAsistio:
    print(na)

 Asistió.........

MIRLIS MILEISIS ACUÑA RAMOS
SHARA LUNA BUSTAMANTE CHAVEZ
OLEISY BALASNOA GOMEZ
NATALIA SANGUINO SARMIENTO
GEORGINA ISABEL TORRIJOS RUIZ
ANDREA PAOLA BENAVIDES MARTINEZ
ELIER SAUL MENDOZA MARTINEZ
LUIS ANDRES CASTRO MATOS
LAURA VANESSA OROZCO PAZ
MARIANA SAUNA ZARABATA
ANDERSON ALI AGUILAR CORRALES
CRISTIAN DAVID  CARRANZA TORRES
ANA MARCELA SALAZAR PEREZ
FEDERICO SAMPAYO FONSECA
 DIANA KARIME BELTRAN BARRIOS
MARLYN ITURRIAGO CARRASCAL
NAHOMY CHINCHILLA TELLEZ
LUISA FERNANDA MONTANO BARRIOS
YALILE VANESSA VALENCIA RODRIGUEZ
ANDERSON ANTONIO OSPINO BOVEA

------------No Asisitió--------------
SELENE ROSA AMADO PEREZ
JUAN SEBASTIAN CARVAJAL MORALES
MARIA LAURA DIAZ ASCANIO
MARIA JOSE TABORDA OCAMPO

In [8]:

dfInasistencia = pd.DataFrame(noAsistio, columns=['Nombre Estudiante'])
dfInasistencia["Fecha"]=fecha

Inasistencia= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Martes\\InasistenciaMartes.xlsx") 
frames = [Inasistencia,dfInasistencia]
result = pd.concat(frames)
result.to_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Martes\\InasistenciaMartes.xlsx",index=False)
display(result)

,Nombre Estudiante,Fecha,Observaciones
0,OLEISY BALASNOA GOMEZ,25-02-2025,NaN
1,JUAN SEBASTIAN CARVAJAL MORALES,25-02-2025,NaN
2,VALENTINA MEZA OCHOA,25-02-2025,NaN
3,MIRLIS MILEISIS ACUÑA RAMOS,04-03-2025,NaN
4,SELENE ROSA AMADO PEREZ,04-03-2025,Tiene Excusa
5,CRISTIAN DAVID CARRANZA TORRES,04-03-2025,Observaciones
6,JUAN SEBASTIAN CARVAJAL MORALES,04-03-2025,NaN
7,VALENTINA MEZA OCHOA,04-03-2025,NaN
8,FRANKLIN ESNEIDER OBREGON CASTRO,04-03-2025,NaN
9,NATALIA SANGUINO SARMIENTO,04-03-2025,NaN
10,ANDERSON ALI AGUILAR CORRALES,11-03-2025,NaN
11,JUAN SEBASTIAN CARVAJAL MORALES,11-03-2025,NaN
12,VALENTINA MEZA OCHOA,11-03-2025,NaN
13,FRANKLIN ESNEIDER OBREGON CASTRO,11-03-2025,NaN
14,ANA MARCELA SALAZAR PEREZ,11-03-2025,NaN
15,MIRLIS MILEISIS ACUÑA RAMOS,18-03-2025,NaN
16,ANDREA PAOLA BENAVIDES MARTINEZ,18-03-2025,NaN
17,JUAN SEBASTIAN CARVAJAL MORALES,18-03-2025,NaN
18,MARIA LAURA DIAZ ASCANIO,18-03-2025,NaN
19,OLEISY BALASNOA GOMEZ,01-04-2025,Esta en la clínica
20,JUAN SEBASTIAN CARVAJAL MORALES,01-04-2025,NaN
21,MARIA LAURA DIAZ ASCANIO,01-04-2025,NaN
22,JOSE SEBASTIAN GONZALES BECERRA,01-04-2025,NaN
23,LAURA VANESSA OROZCO PAZ,01-04-2025,Se conecta en casa de una amiga
24,NATALIA SANGUINO SARMIENTO,01-04-2025,Problemas de fluido eléctrico
25,SELENE ROSA AMADO PEREZ,08-04-2025,NaN
26,JUAN SEBASTIAN CARVAJAL MORALES,08-04-2025,NaN
27,MARIA LAURA DIAZ ASCANIO,08-04-2025,NaN
28,MARIA JOSE TABORDA OCAMPO,08-04-2025,NaN
0,SELENE ROSA AMADO PEREZ,08-04-2025,NaN
1,JUAN SEBASTIAN CARVAJAL MORALES,08-04-2025,NaN
2,MARIA LAURA DIAZ ASCANIO,08-04-2025,NaN
3,MARIA JOSE TABORDA OCAMPO,08-04-2025,NaN